* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* ==============common style section============= */
.text-light-gray{
    color: #727272;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}

.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 20px 0px 20px 0px;
}

/* ===========navigation section style================ */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* ===================Banner style================== */

.banner {
    text-align: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
}

/* ================main Section Style============ */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* ===============Team Section Style============== */

.teams-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;

}

.teams-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 3.7rem;
    padding-left: 3.7rem;
}

/* ================Features section style=============== */


/* ====================fact section style============== */

.fact{
    margin-top: 4rem;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
}

/* ===========responsive style for small device============= */

@media screen and (max-width:576px) {
    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    .banner-title {
        font-size: 2rem;
    }

    .teams-container {
        text-align: center;
        flex-direction: column;
    }

    .teams-img-content {
        gap: 0;
    }
}

/* ===========responsive style for medium device============= */

@media screen and (min-width:577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column-reverse;
        text-align: center;
    }
}