* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* ==============common style section============= */
.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}

.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 20px 0px 20px 0px;
}

/* ===========navigation section style================ */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* ===================Banner style================== */

.banner {
    text-align: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
}

/* ================main Section Style============ */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* ===============Team Section Style============== */

.teams-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;

}

.teams-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 3.7rem;
    padding-left: 3.7rem;
}

/* ================Features section style=============== */

.border-design {
    border-left: 5px solid rgb(255, 166, 0);
    padding-left: 10px;
    margin-bottom: 20px;
}

.featuers {
    margin-top: 130px;
    display: flex;
    gap: 140px;
}

.feature-content .card {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card-tittle {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.teen-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px;
    padding: 40px;
    text-align: center;


    position: relative;
    top: -100px;
    left: -100px;
}

.teen-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.teen-years-badge p {
    font-size: 1.5rem;
}

/* ====================fact section style============== */

.fact {
    margin-top: 4rem;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
}

/* ================Sponsors section style=============== */
.sponsors-container {
    text-align: center;
    margin-top: 3rem;
}

.sponsor-img-content {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

/* =================footer section style=================== */

footer {
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

footer p{
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;

}

/* ===========responsive style for small device============= */

@media screen and (max-width:576px) {

    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    .banner-title {
        font-size: 2rem;
    }

    .teams-container,
    .facts-card-container,
    .fact {
        text-align: center;
        flex-direction: column;
    }

    .teams-img-content {
        gap: 0;
    }

    .facts-card-container .card img {
        width: 70px;
    }

    .card {
        width: 200px;
        margin: 20px auto;
    }

    .sponsor-img-content {
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .sponsor-img-content .sponsor img {
        width: 50px;
    }





    .featuers {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .teen-years-badge {
        width: 221px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    footer{
        width: 85%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 47px;
    }
    
}

    /* ===========responsive style for medium device============= */

    @media screen and (min-width:577px) and (max-width: 960px) {
        header {
            padding: 50px;
        }

        nav,
        .teams-container {
            flex-direction: column-reverse;
            text-align: center;
        }

        .fact {
            text-align: center;
        }

        .sponsor-img-content {
            justify-content: space-evenly;
            margin-top: 1.5rem;
        }

        .sponsor-img-content .sponsor img {
            width: 100px;
        }
        footer{
            width: 85%;
        }

        .featuers{
            padding: 20px;
            gap: 20px;
        }
        
        .featuers-img img{
            width: 100%;
        }
        .teen-years-badge {
            width: 221px;
            position: relative;
            top: 0px;
            left: 0px;
        }

    }